<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="../css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/jquery-ui-git.js"></script>
    <title>Thay đổi mật khẩu</title>
    <style>
        .field-icon {
            float: right;
            margin-left: -25px;
            margin-right: 5px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }
    </style>
</head>

<body>
    <div class="text-center" style="padding:30px 0 30px 0;background:#fff;border-bottom:1px solid #ddd">
        <h1 style="color:cornflowerblue">Thay đổi mật khẩu</h1>
    </div>
    
    <div class="col-sm-6 col-md-4 col-lg-3" id='typeForm' style="margin:40px auto; float:none;">
        <center>
            <p>Bạn hãy tạo mật khẩu và xác nhận mật khẩu.
               <br>Sau khi chọn 'Tiếp tục' sẽ có tin nhắn kích hoạt về Nosa.</p>
        </center>
        <div class="col-xs-12">
            <div class="form-group">
                <div>
                    <label>ID người dùng</label>
                    <input type="text" id="userId" name="userId" class="form-control" placeholder="Nhập ID">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Nhập mật khẩu mới</label>
                    <input style="position: relative;" type="password" id="newPass" name="newPass" class="form-control"
                        placeholder="Mật khẩu mới">
                    <span toggle="#newPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Xác nhận lại mật khẩu mới</label>
                    <input style="position: relative;" type="password" id="retypeNewPass" name="retypeNewPass"
                        class="form-control" placeholder="Mật khẩu">
                    <span toggle="#retypeNewPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
            </div>
        </div>

        <div class="col-xs-12" align="center">
            <button type="button" id='Continue-sendMess-btn' class="btn btn-block btn-primary">Tiếp tục</button>
            <div class="row">
                <button style="display: none" type="button" id='cancel-updatepw-btn'
                    class="btn btn-block btn-primary">Quay lại</button>
                <button style="display: none" type="button" id='complete-updatepw-btn'
                    class="btn btn-block btn-primary">Cập nhật mật khẩu</button>
                <a href="/cms/">Đăng nhập</a>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" id='otpForm' style="margin:40px auto; float:none; display: none;">
        <center>
            <p id='noti_text'>Xin chờ ...</p>
        </center>
        <div class="col-xs-12">
            <!-- <div class="form-group">
                <div>
                    <label>Nhập mã OTP</label>
                    <input type="text" id="userOTP" name="userOTP" class="form-control" placeholder="Nhập mã OTP">
                </div>
            </div> -->
        </div>

        <div class="col-xs-12" align="center">
            <div class="btn-group">
                <button type="button" id='completeUpdatepw-btn'
                    class="btn btn-block btn-primary">Mở messenger</button>
                
            </div>
        </div>
    </div>
    <script language="javascript" src="../cms-js/changePassWord.js?v=0.0.0.1"></script>
</body>

</html>