<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/logo.png">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="../css/roboto.css">
    <link rel="stylesheet" type="text/css" href="../css/material-design.css">
    <link rel="stylesheet" type="text/css" href="../css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/dataTables.bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
	
	<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
	
<script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/buttons.bootstrap.min.css" />
    <title>CMS-Báo cáo tổng hợp</title>
</head>
<body class="cm-no-transition cm-1-navbar">
    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex">
                <div class="cm-logo"></div>
            </div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <div id="cm-menu-content">
            <div id="cm-menu-items-wrapper">
                <div id="cm-menu-scroller">
                    <ul class="cm-menu-items">
                        <div id="btcmenu"></div>   
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header id="cm-header">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
            <div class="cm-flex">
                <h1>Báo cáo tổng hợp</h1>
            </div>
        </nav>
    </header>
    <div id="global">
        <div class="container-fluid">
            <!--<div class="panel panel-default">
                <div class="panel-body">
                    <div id="img_vncode"><img id="imageGeoCode" src="../img/vncode/VN-HN.jpg" style="height:300px;width:100%" /></div>
                </div>
            </div>-->
            <div class="panel panel-default">
                <div class="panel-heading">HỆ THỐNG CHẤM ĐIỂM BỘ TIÊU CHÍ ĐÁNH GIÁ CÔNG TÁC ĐOÀN VÀ PHONG TRÀO THANH THIẾU NIÊN CÁC TỈNH, THÀNH ĐOÀN NĂM 2019</div>
				<div class="panel-body">
					 <button type="button" class="btn btn-primary" onclick="doExcel1()">Excel</button>
                            </div>
                <div class="panel-body">
                    
                    <div id="exportDiv" style="width:100%;height:100%;overflow-x:auto">
                        <table id="btcTable" name="btcTable" class="table table-bordered table2excel" data-page-length="67"  style="width:100%" data-order="[[ 5, &quot;desc&quot; ]]">
                            <thead>
								<tr>
                                    <th rowspan="3" style="text-align:center;">
									 	XH</th>
									<th rowspan="3" style="text-align:center;">
                                        TÊN TỈNH
                                    </th>
                                    <th rowspan="3" style="text-align:center;">
                                        Điểm tỉnh chấm
                                    </th>
                                    <th rowspan="3" style="text-align:center" >
                                        Điểm tiêu chí TW Đoàn chấm
                                    </th>
                                    <th rowspan="3" style="text-align:center" >
                                        Điểm đăng cai sáng tạo TW đoàn chấm
                                    </th>
                                    <th rowspan="3" style="text-align:center" >
                                        TỔNG ĐIỂM
                                    </th>
                                    <th rowspan="3" style="text-align:center" >
                                        Tỷ lệ % điểm các ban TW Đoàn chấm
                                    </th>
                                    <th rowspan="3" style="text-align:center" >
                                        Chênh lệch giữa tỉnh chấm và các ban chấm
                                    </th>
                                    <th colspan="36" style="text-align:center" >
                                        Điểm các Ban TW chấm cụ thể
                                    </th>
                                </tr>
                                <tr >
                                    <th colspan="3" style="text-align:center">
                                        Tuyên giáo
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Tổ chức
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Đô thị
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Nông thôn
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Trường học
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Quốc tế
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Đoàn kết
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Thiếu nhi
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Kiểm tra
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Xung phong
                                    </th>
                                    <th colspan="3" style="text-align:center">
                                        Văn phòng
                                    </th>
                                    <!--<th colspan="3" style="text-align:center">
                                        KHCN & TNT
                                    </th>-->
                                </tr>
                                <tr>
                                    <th >Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>
                                    <!--<th>Tỉnh chấm</th>
                                    <th >Ban chấm</th>
                                    <th >CL</th>-->

                                </tr>
                            </thead>
                            
                        </table>
                    </div>
                </div>
				<center id='loading' hidden>
                        				<img src="../img/Spinner-1s-200px.gif" alt="Loading">
                    				</center>	 
            </div>
        </div>
       
        <footer class="cm-footer"><span class="pull-right">&copy; NSVN KYC.NET.VN Inc.</span></footer>
    </div>
    <!--<script src="https://driveuploader.com/upload/vfg9qJ0ZfG/embed.js"></script>-->
    <script src="../js/jquery-migrate-1.4.1.min.js"></script>
   
   
    <script src="../js/dataTables.buttons.min.js"></script>
    <script src="../js/buttons.bootstrap.min.js"></script>
    <script src="../js/jszip.min.js"></script>
    <!--<script src="../js/pdfmake.min.js"></script>-->
    <script src="../js/vfs_fonts.js"></script>
    <script src="../js/buttons.html5.min.js"></script>
    <script src="../js/buttons.print.min.js"></script>
    <script src="../js/buttons.colVis.min.js"></script>
    <script src="../js/jquery.mousewheel.min.js"></script>
    <script src="../js/jquery.cookie.min.js"></script>
    <script src="../js/fastclick.min.js"></script>
	<script lang="javascript" src="/js/xlsx.full.min.js"></script>
    <script src="../js/FileSaver.min.js"></script>
    <script src="../js/clearmin.min.js"></script>
    <script src="../js/toanva.js"></script>
    <script src="../js/jquery.table2excel.min.js"></script>
	<script src="../cms-js/menu.js?v=1.0.0.1"></script> 
    <script src="../cms-js/summary.js?v=1.0.0.4"></script>
    <script src="../cms-js/logout.js?v=1.0.0.0"></script>
</body>
</html>
